<div class="instruction">
  <p>Hướng dẫn: Chọn những từ có nghĩa phù hợp cho đến hết</p>
  <p>*Chọn mức độ để bắt đầu</p>
</div>
<div class="body">
  <div class="input-group mb-3 slt-level">
    <select class="custom-select slt-vocabulary btn btn-primary" id="inputGroupSelect02">
      <option selected value="16">Easy</option>
      <option value="36">Middle</option>
      <option value="64">Difficult</option>
    </select>
    <div class="input-group-append">
      <label class="input-group-text btn btn-primary btn-click" onclick="getSelect()">Click</label>
    </div>
  </div>

  <hr/>
  <div id="option">
    <table class="table table-bordered vocabulary">
      <tbody class="main-table">

      </tbody>
    </table>
  </div>
</div>