<div class="body">
  <p>1. This is .........table ?</p>
  <TABLE>
    <tr>
      <td>
        <input type="radio" name="4" value="A">A.a
      </td>
      <td>
        <input type="radio" name="4" value="B">B.an
      </td>
      <td>
        <input type="radio" name="4" value="C">C.the
      </td>
      <td>
        <input type="radio" name="4" value="D">D.there
      </td>
    </tr>
  </TABLE>
  <p>2. My name .......... Tien</p>
  <TABLE>
    <tr>
      <td>
        <input type="radio" name="4" value="A">A.a
      </td>
      <td>
        <input type="radio" name="4" value="B">B.an
      </td>
      <td>
        <input type="radio" name="4" value="C">C.the
      </td>
      <td>
        <input type="radio" name="4" value="D">D.is
      </td>
    </tr>
  </TABLE>
  <p>3. The mausoleum is ................. by Thien Thu mountain, two towering columns and a vast expanse of water.</p>
  <TABLE>
    <tr>
      <td>
        <input type="radio" name="4" value="A">A.feed
      </td>
      <td>
        <input type="radio" name="4" value="B">B.feeding
      </td>
      <td>
        <input type="radio" name="4" value="C">C.fed
      </td>
      <td>
        <input type="radio" name="4" value="D">D.feeds
      </td>
    </tr>
  </TABLE>
  <p>4. Put plants ............... a window so that they will get enough light.</p>
  <TABLE>
    <tr>
      <td>
        <input type="radio" name="4" value="A">A.near to
      </td>
      <td>
        <input type="radio" name="4" value="B">B.near of
      </td>
      <td>
        <input type="radio" name="4" value="C">C.next to
      </td>
      <td>
        <input type="radio" name="4" value="D">D.nearly
      </td>
    </tr>
  </TABLE>
  <p>5. Employers often require that candidates have not only a degree .............</p>
  <TABLE>
    <tr>
      <td>
        <input type="radio" name="4" value="A">A.but two years experience
      </td>
      <td>
        <input type="radio" name="4" value="B">B.also two years experience
      </td>
      <td>
        <input type="radio" name="4" value="C">C.but also two-year experience
      </td>
      <td>
        <input type="radio" name="4" value="D">D.but more two years experience
      </td>
    </tr>
  </TABLE>
  <p>6. Richard Nixon had been a lawyer and ............... before he entered politics.</p>
  <TABLE>
    <tr>
      <td>
        <input type="radio" name="4" value="A">A.served in the Navy as an officer
      </td>
      <td>
        <input type="radio" name="4" value="B">B.an officer in the Navy
      </td>
      <td>
        <input type="radio" name="4" value="C">C.the Navy had him as an officer
      </td>
      <td>
        <input type="radio" name="4" value="D">D.did service in the Navy as an officer
      </td>
    </tr>
  </TABLE>
  <p>7. If one of the participants in a conversation wonders ............... no real communication has taken place.</p>
  <TABLE>
    <tr>
      <td>
        <input type="radio" name="4" value="A">A.what said the other person
      </td>
      <td>
        <input type="radio" name="4" value="B">B.what the other person said
      </td>
      <td>
        <input type="radio" name="4" value="C">C.what did the other person say
      </td>
      <td>
        <input type="radio" name="4" value="D">D.what was the other person saying
      </td>
    </tr>
  </TABLE>
  <p>8. The salary of a bus driver is much higher ................</p>
  <TABLE>
    <tr>
      <td>
        <input type="radio" name="4" value="A">A.in comparison with the salary of a teacher
      </td>
      <td>
        <input type="radio" name="4" value="B">B.than a teacher
      </td>
      <td>
        <input type="radio" name="4" value="C">C.than that of a teacher
      </td>
      <td>
        <input type="radio" name="4" value="D">D.to compare as a teacher
      </td>
    </tr>
  </TABLE>
  <p>9. Professional people expect ............... when it is necessary to cancel an appointment.</p>
  <TABLE>
    <tr>
      <td>
        <input type="radio" name="4" value="A">A.you to call them
      </td>
      <td>
        <input type="radio" name="4" value="B">B.that you would call them
      </td>
      <td>
        <input type="radio" name="4" value="C">C.your calling them
      </td>
      <td>
        <input type="radio" name="4" value="D">D.that you are calling them
      </td>
    </tr>
  </TABLE>
  <p>10. Sedimentary rocks are formed below the surface of the earth ............... very high temperatures and pressures.</p>
  <TABLE>
    <tr>
      <td>
        <input type="radio" name="4" value="A">A.where there are
      </td>
      <td>
        <input type="radio" name="4" value="B">B.there are
      </td>
      <td>
        <input type="radio" name="4" value="C">C.where are there
      </td>
      <td>
        <input type="radio" name="4" value="D">D.there are where
      </td>
    </tr>
  </TABLE>
</div>
